<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="static/styles.css" type="text/css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" 
        rel="stylesheet" 
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" 
        crossorigin="anonymous">
</head>

<body style="padding-top: 16px;" class="bg-dark" data-bs-theme="dark">
    <div id="app">
        <nav class="navbar fixed-top navbar-expand-lg bg-body-tertiary">
            <div class="container-fluid">
                <a class="navbar-brand" href="index.html">
                    <img class="img-fluid" src="static/images/codecamp_white.svg" width="200" height="50"
                        alt="Southern Utah Code Camp" id="logo" data-height-percentage="54" data-actual-width="300" data-actual-height="50">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <div v-for="nav_item in nav_items">
                            <li class="nav-item">
                                <a class="nav-link" v-bind:class="{ 'active': nav_item.active}" @click="change_view(nav_item.name)">{{nav_item.name}}</a>
                            </li>
                        </div>
                    </ul>
                    <div class="d-flex justify-content-end navbar-nav nav-item ms-auto">
                        <div v-if="!session_details.logged_in">
                            <a class="nav-link" @click="change_view('Login')">Login</a>
                        </div>
                        <div v-if="session_details.logged_in" class="d-flex justify-content-end">
                            <a class="nav-link px-1" href="#" style="min-width:max-content;">{{session_details.first_name}}, {{session_details.last_name}}</a>
                            <a class="nav-link px-1" @click="logout()">Logout</a>
                        </div>
                    </div>
                </div>
            </div>
        </nav>

        <div class="container card px-0" v-if="!['Login','Register'].includes(active_view)">
            <div class="row p-0">
                <img class="img-fluid rounded" src="static/images/hero.jpg">
            </div>
            <div class="row">
                <div class="col p-4" style="text-align: left;">
                    <img class="img-fluid" src="static/images/codecamp_white.svg" width="300" height="50" alt="Southern Utah Code Camp"
                        id="logo" data-height-percentage="54" data-actual-width="300" data-actual-height="50">
                </div>
                <div class="col p-4"  style="text-align: right;">
                    <div class="dropdown">
                        <a href="#" id="loginimageDropdown" data-toggle="dropdown">
                            <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="#ffffff" class="bi bi-person-circle"
                            viewBox="0 0 16 16">
                            <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z" />
                            <path fill-rule="evenodd"
                                d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z" />
                            </svg>
                        </a>
                        
                        <ul class="dropdown-menu" role="menu" aria-labelledby="loginimageDropdown">
                            <li role="presentation">
                                <a role="menuitem" tabindex="-1" href="#">
                                    Login
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="container bg-dark text-white py-4 px-0" v-if="!['Login','Register'].includes(active_view)">
            <div class="row gap-3">
                <div class="col-3" style="width:250px">

                    <div class="mb-3">
                        <div class="card">
                            <div class="card-body">
                                <div>
                                    <p>Countdown</p>
                                </div>
                                <div>
                                    <h2>24:00:00</h2>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="my-3 .d-sm-none .d-md-block">
                        <div id="carouselExampleAutoplaying" class="carousel-fade" data-bs-ride="carousel" data-bs-touch="false">
                            <div class="carousel-inner">
                                <div class="carousel-item active" data-bs-interval="50000">
                                    <img src="static/images/codecamp_sponsors/audience-300x300-1-200x200.png" class="img-thumbnail p-3 bg-white">
                                </div>
                                <div class="carousel-item" data-bs-interval="50000">
                                    <img src="static/images/codecamp_sponsors/busybusy-300x300-1-200x200.png" class="img-thumbnail p-3 bg-white">
                                </div>
                                <div class="carousel-item" data-bs-interval="50000">
                                    <img src="static/images/codecamp_sponsors/corso-300x300-1-200x200.png" class="img-thumbnail p-3 bg-white">
                                </div>
                                <div class="carousel-item" data-bs-interval="50000">
                                    <img src="static/images/codecamp_sponsors/denton-300x300-1-200x200.png" class="img-thumbnail p-3 bg-white">
                                </div>
                                <div class="carousel-item" data-bs-interval="50000">
                                    <img src="static/images/codecamp_sponsors/dixietech-300x300-1-200x200.png" class="img-thumbnail p-3 bg-white">
                                </div>
                                <div class="carousel-item" data-bs-interval="50000">
                                    <img src="static/images/codecamp_sponsors/eaglegate-300x300-1-200x200.png" class="img-thumbnail p-3 bg-white">
                                </div>
                                <div class="carousel-item" data-bs-interval="50000">
                                    <img src="static/images/codecamp_sponsors/infowest-200x200.png" class="img-thumbnail p-3 bg-white">
                                </div>
                                <div class="carousel-item" data-bs-interval="50000">
                                    <img src="static/images/codecamp_sponsors/intergalactic-300x300-1-200x200.png" class="img-thumbnail p-3 bg-white">
                                </div>
                                <div class="carousel-item" data-bs-interval="50000">
                                    <img src="static/images/codecamp_sponsors/mango-300x300-1-200x200.png" class="img-thumbnail p-3 bg-white">
                                </div>
                                <div class="carousel-item" data-bs-interval="50000">
                                    <img src="static/images/codecamp_sponsors/reidashman-300x300-1-200x200.png" class="img-thumbnail p-3 bg-white">
                                </div>
                                <div class="carousel-item" data-bs-interval="50000">
                                    <img src="static/images/codecamp_sponsors/scitools-1.png" class="img-thumbnail p-3 bg-white">
                                </div>
                                <div class="carousel-item" data-bs-interval="50000">
                                    <img src="static/images/codecamp_sponsors/sga-300x300-1-200x200.png" class="img-thumbnail p-3 bg-white">
                                </div>
                                <div class="carousel-item" data-bs-interval="50000">
                                    <img src="static/images/codecamp_sponsors/smartcare-300x300-1-200x200.png" class="img-thumbnail p-3 bg-white">
                                </div>
                                <div class="carousel-item" data-bs-interval="50000">
                                    <img src="static/images/codecamp_sponsors/stg-chamber-300x300-1-200x200.jpg" class="img-thumbnail p-3 bg-white">
                                </div>
                                <div class="carousel-item" data-bs-interval="50000">
                                    <img src="static/images/codecamp_sponsors/tcn.png" class="img-thumbnail p-3 bg-white">
                                </div>
                                <div class="carousel-item" data-bs-interval="50000">
                                    <img src="static/images/codecamp_sponsors/techridge-300x300-1-200x200.png" class="img-thumbnail p-3 bg-white">
                                </div>
                                <div class="carousel-item" data-bs-interval="50000">
                                    <img src="static/images/codecamp_sponsors/usu_roi_logo-200x200.png" class="img-thumbnail p-3 bg-white">
                                </div>
                                <div class="carousel-item" data-bs-interval="50000">
                                    <img src="static/images/codecamp_sponsors/Utah4H-200x200.png" class="img-thumbnail p-3 bg-white">
                                </div>
                                <div class="carousel-item" data-bs-interval="50000">
                                    <img src="static/images/codecamp_sponsors/utahtech-300x300-1-200x200.png" class="img-thumbnail p-3 bg-white">
                                </div>
                                <div class="carousel-item" data-bs-interval="50000">
                                    <img src="static/images/codecamp_sponsors/vasion_logo-200x200.png" class="img-thumbnail p-3 bg-white">
                                </div>
                                <div class="carousel-item" data-bs-interval="50000">
                                    <img src="static/images/codecamp_sponsors/washco.png" class="img-thumbnail p-3 bg-white">
                                </div>
                                <div class="carousel-item" data-bs-interval="50000">
                                    <img src="static/images/codecamp_sponsors/zonos-300x300-1-200x200.png" class="img-thumbnail p-3 bg-white">
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Teams Filters -->

                    <div class="my-3 .d-sm-none .d-md-block" v-if="['Teams'].includes(active_view)">
                        <ul class="list-group">
                            <li class="list-group-item d-flex justify-content-start align-middle">
                                <input class="form-check-input me-3" type="radio" value="all" id="all_catagories" v-model="catagory_filter_select" checked>
                                <label class="form-check-label stretched-link " for="all_catagories">All Catagories</label>
                            </li>
                            <li class="list-group-item d-flex justify-content-start align-middle">
                                <input class="form-check-input me-3" type="radio" value="app" id="app_catagory" v-model="catagory_filter_select">
                                <label class="form-check-label stretched-link " for="app_catagory">App</label>
                            </li>
                            <li class="list-group-item d-flex justify-content-start">
                                <input class="form-check-input me-3" type="radio" value="game" id="game" v-model="catagory_filter_select">
                                <label class="form-check-label stretched-link " for="game">Game</label>
                            </li>
                            <li class="list-group-item d-flex justify-content-start">
                                <input class="form-check-input me-3" type="radio" value="maker" id="maker" v-model="catagory_filter_select">
                                <label class="form-check-label stretched-link " for="maker">Maker</label>
                            </li>
                            <li class="list-group-item d-flex justify-content-start">
                                <input class="form-check-input me-3" type="radio" value="rookie" id="rookie" v-model="catagory_filter_select">
                                <label class="form-check-label stretched-link " for="rookie">Rookie</label>
                            </li>
                            <li class="list-group-item d-flex justify-content-start">
                                <input class="form-check-input me-3" type="radio" value="rookie_starter_kit" id="rookie_starter_kit" v-model="catagory_filter_select">
                                <label class="form-check-label stretched-link " for="rookie_starter_kit">Rookie Starter Kit</label>
                            </li>
                            <li class="list-group-item d-flex justify-content-start">
                                <input class="form-check-input me-3" type="radio" value="rookie_jr_starter_kit" id="rookie_jr_starter_kit" v-model="catagory_filter_select">
                                <label class="form-check-label stretched-link " for="rookie_jr_starter_kit">Rookie Jr Starter Kit</label>
                            </li>
                            <li class="list-group-item d-flex justify-content-start">
                                <input class="form-check-input me-3" type="radio" value="lego_league" id="lego_league" v-model="catagory_filter_select">
                                <label class="form-check-label stretched-link " for="lego_league">Lego League</label>
                            </li>
                        </ul>
                    </div>

                    <!-- Nav Sidebar -->

                    <div class="my-3 .d-sm-none .d-md-block">
                        <div class="card">
                            <ul class="nav nav-pills nav-fill flex-column">
                                <div v-for="nav_item in nav_items">
                                    <li class="nav-item">
                                        <a class="nav-link" v-bind:class="{ 'active': nav_item.active}"
                                            @click="change_view(nav_item.name)">{{nav_item.name}}</a>
                                    </li>
                                </div>
                            </ul>
                        </div>
                    </div>

                </div>
                <div class="col">

                    <!-- Home Content -->
                    <div class="container" v-if="['Home'].includes(active_view)">

                        <div class="row justify-content-start">

                            <div v-for="nav_item in nav_items" class="card mb-4 me-4 px-0" style="width: 18rem;">
                                <img class="card-img-top" v-bind:src="nav_item.image">
                                <div class="card-body">
                                    <h3 class="card-title">{{nav_item.name}}</h3>
                                    <p class="card-text">{{nav_item.caption}}</p>
                                </div>
                                <a @click="change_view(nav_item.name)" class="stretched-link" style="cursor: pointer;"></a>
                            </div>

                        </div>
                        
                    </div>

                    <!-- View Team Content -->
                    <div class="container" v-if="['View Team'].includes(active_view)">
                    
                        <div class="row justify-content-start">

                            <div class="card px-0">
                                <h3 class="card-title mt-4">{{ team_selected.team_name }}</h3>
                                <div class="card-body">
                                    <ul class="list-group">
                                        <li class="list-group-item">Team Devision: {{ team_selected.team_division }}</li>
                                        <li class="list-group-item">Team Catagory: {{ team_selected.catagory }}</li>
                                    </ul>
                                    <h4 class="card-title mt-4">Team Members</h4>
                                    <ul class="list-group">
                                        <li class="list-group-item" v-for="member in team_selected.team_members">{{ member.first_name + " " + member.last_name + " " + member.email }}</li>
                                    </ul>
                                    <h4 class="card-title mt-4">Team Scores</h4>

                                    <div>
                                        <img src="static/images/ds_radar.png" class="img-thumbnail m-2 p-3 bg-white"></img>
                                    </div>

                                    <h4 class="card-title mt-4">Judge Feedback</h4>

                                    <h5 class="card-title mt-4">Acclamations</h5>
                                    <span class="badge text-bg-success m-2 fs-5" v-for="acclaim in team_selected.total_acclaims">{{ acclaim }}</span>


                                    <h5 class="card-title mt-4">Constructive Criticisms</h5>
                                    <span class="badge text-bg-danger m-2 fs-5" v-for="criticism in team_selected.total_criticisms">{{ criticism }}</span>

                                </div>

                            </div>
                    
                        </div>
                    
                    </div>

                    <!-- Judge Team Form -->
                    <div class="container" v-if="['Judge Team'].includes(active_view)">
                    
                        <div class="row justify-content-start">
                    
                            <div class="card px-0">
                                <h3 class="card-title mt-4">{{ team_selected.team_name }}</h3>
                                <div class="card-body">
                                    <ul class="list-group">
                                        <li class="list-group-item">Team Devision: {{ team_selected.team_division }}</li>
                                        <li class="list-group-item">Team Catagory: {{ team_selected.catagory }}</li>
                                    </ul>
                                    <h4 class="card-title mt-4">Team Members</h4>
                                    <ul class="list-group">
                                        <li class="list-group-item" v-for="member in team_selected.team_members">{{ member.first_name + " "
                                            + member.last_name + " " + member.email }}</li>
                                    </ul>

                                    <div v-for="error in validation_errors">
                                        <div class="card border-danger m-3">
                                            <div class="card-body">
                                                <p class="card-title text-danger">{{error.message}}</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div v-for="message in success_messages">
                                        <div class="card border-success m-3">
                                            <div class="card-body">
                                                <p class="card-title text-success">{{message.message}}</p>
                                            </div>
                                        </div>
                                    </div>
                    
                                    <h4 class="card-title mt-4">Catagory Scores</h4>

                                    <label for="level_of_complexity_judge_input" class="form-label mt-3">Level of Complexity</label>
                                    <input type="range" class="form-range" min="1" max="5" id="level_of_complexity_judge_input" v-model="level_of_complexity_judge_input">

                                    <label for="uniquness_judge_input" class="form-label mt-3">Uniqueness</label>
                                    <input type="range" class="form-range" min="1" max="5" id="uniquness_judge_input" v-model="uniquness_judge_input">

                                    <label for="commercial_viability_judge_input" class="form-label mt-3">Commercial Viability</label>
                                    <input type="range" class="form-range" min="1" max="5" id="commercial_viability_judge_input" v-model="commercial_viability_judge_input">

                                    <label for="aethetics_judge_input" class="form-label mt-3">Aethetics</label>
                                    <input type="range" class="form-range" min="1" max="5" id="aethetics_judge_input" v-model="aethetics_judge_input">

                                    <label for="completeness_judge_input" class="form-label mt-3">Completeness</label>
                                    <input type="range" class="form-range mb-3" min="1" max="5" id="completeness_judge_input" v-model="completeness_judge_input">

                    
                                    <h4 class="card-title mt-4">Judge Feedback</h4>
                    
                                    <h5 class="card-title mt-4">Acclamations</h5>
                                    
                    
                    
                                    <h5 class="card-title mt-4">Constructive Criticisms</h5>

                                    <div class="form-floating m-3">
                                        <button type="button" class="btn btn-primary m-3" v-on:click="submit_score()">Submit</button>
                                    </div>
                                    
                    
                                </div>
                    
                            </div>
                    
                        </div>
                    
                    </div>

                    <!-- Teams Content -->
                    <div class="container" v-if="['Teams'].includes(active_view)">
                    
                        <div class="row justify-content-start">

                            <div class="card px-0">
                                <div class="card-body">
                                    <h3 class="card-title">Teams</h3>
                                    <p class="card-text text-start">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus pharetra, dui id cursus condimentum, mi ligula
                                    condimentum mauris, ut mattis dolor neque at ligula. Sed viverra posuere ante in dictum. In rhoncus vel est semper
                                    rutrum. Suspendisse quis augue id sem ullamcorper gravida. Suspendisse venenatis ultrices egestas. Ut scelerisque, nisi
                                    quis viverra pretium, est ex ultricies mi, sit amet placerat risus augue id libero. Morbi eu maximus odio.</p>

                                        <div class="accordion" id="accordionExample">
                                            <div class="accordion-item">
                                                <h2 class="accordion-header" id="headingOne">
                                                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
                                                        aria-expanded="true" aria-controls="collapseOne">
                                                        Rookie Day Camp Devision 
                                                    </button>
                                                </h2>
                                                <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                                                    data-bs-parent="#accordionExample">
                                                    <div class="accordion-body">
                                                        <div class="list-group py-3">
                                                            <div v-for="team in filter_catagory">
                                                                <div v-if="team.team_division == 'rookie_day_camp'">
                                                                    <a class="list-group-item list-group-item-action" aria-current="true">
                                                                        <div class="d-flex justify-content-between ">
                                                                            <h5 class="mb-1">{{team.team_name}}</h5>
                                                                            <div class="d-flex justify-content-end">
                                                                                <span v-for="team_member in team.team_members"
                                                                                    class="badge p-2 mx-2 text-bg-secondary d-flex align-items-center">{{team_member.first_name}}</span>
                                                                                <button v-if="session_details.judge" type="button" class="btn btn-primary mx-3"
                                                                                    v-on:click="change_view('Judge Team');select_team(team)">Judge Team</button>
                                                                                <button type="button" class="btn btn-primary mx-3" v-on:click="change_view('View Team');select_team(team)">View
                                                                                    Team</button>
                                                                                <button v-if="session_details.attendant" type="button" class="btn btn-primary mx-3"
                                                                                    v-on:click="change_view('Edit Team');select_team(team);create_spider_chart()">Edit
                                                                                    Team</button>
                                                                            </div>
                                                                        </div>
                                                                    </a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="accordion-item">
                                                <h2 class="accordion-header" id="headingTwo">
                                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo"
                                                        aria-expanded="false" aria-controls="collapseTwo">
                                                        Rookie Devision
                                                    </button>
                                                </h2>
                                                <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                                                    data-bs-parent="#accordionExample">
                                                    <div class="accordion-body">
                                                        <div class="list-group py-3">
                                                            <div v-for="team in filter_catagory">
                                                                <div v-if="team.team_division == 'rookie'">
                                                                    <a class="list-group-item list-group-item-action" aria-current="true">
                                                                        <div class="d-flex justify-content-between ">
                                                                            <h5 class="mb-1">{{team.team_name}}</h5>
                                                                            <div class="d-flex justify-content-end">
                                                                                <span v-for="team_member in team.team_members"
                                                                                    class="badge p-2 mx-2 text-bg-secondary d-flex align-items-center">{{team_member.first_name}}</span>
                                                                                <button v-if="session_details.judge" type="button" class="btn btn-primary mx-3"
                                                                                    v-on:click="change_view('Judge Team');select_team(team)">Judge Team</button>
                                                                                <button type="button" class="btn btn-primary mx-3" v-on:click="change_view('View Team');select_team(team)">View
                                                                                    Team</button>
                                                                                <button v-if="session_details.attendant" type="button" class="btn btn-primary mx-3"
                                                                                    v-on:click="change_view('Edit Team');select_team(team);create_spider_chart()">Edit
                                                                                    Team</button>
                                                                            </div>
                                                                        </div>
                                                                    </a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="accordion-item">
                                                <h2 class="accordion-header" id="headingThree">
                                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree"
                                                        aria-expanded="false" aria-controls="collapseThree">
                                                        Novice Devision
                                                </h2>
                                                <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                                                    data-bs-parent="#accordionExample">
                                                    <div class="accordion-body">
                                                        <div class="list-group py-3">
                                                            <div v-for="team in filter_catagory">
                                                                <div v-if="team.team_division == 'novice'">
                                                                    <a class="list-group-item list-group-item-action" aria-current="true">
                                                                        <div class="d-flex justify-content-between ">
                                                                            <h5 class="mb-1">{{team.team_name}}</h5>
                                                                            <div class="d-flex justify-content-end">
                                                                                <span v-for="team_member in team.team_members"
                                                                                    class="badge p-2 mx-2 text-bg-secondary d-flex align-items-center">{{team_member.first_name}}</span>
                                                                                <button v-if="session_details.judge" type="button" class="btn btn-primary mx-3"
                                                                                    v-on:click="change_view('Judge Team');select_team(team)">Judge Team</button>
                                                                                <button type="button" class="btn btn-primary mx-3" v-on:click="change_view('View Team');select_team(team)">View
                                                                                    Team</button>
                                                                                <button v-if="session_details.attendant" type="button" class="btn btn-primary mx-3"
                                                                                    v-on:click="change_view('Edit Team');select_team(team);create_spider_chart()">Edit
                                                                                    Team</button>
                                                                            </div>
                                                                        </div>
                                                                    </a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="accordion-item">
                                                <h2 class="accordion-header" id="headingFour">
                                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                                        data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                                        Intermediate Devision
                                                    </button>
                                                </h2>
                                                <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour"
                                                    data-bs-parent="#accordionExample">
                                                    <div class="accordion-body">
                                                        <div class="list-group py-3">
                                                            <div v-for="team in filter_catagory">
                                                                <div v-if="team.team_division == 'intermediate'">
                                                                    <a class="list-group-item list-group-item-action" aria-current="true">
                                                                        <div class="d-flex justify-content-between ">
                                                                            <h5 class="mb-1">{{team.team_name}}</h5>
                                                                            <div class="d-flex justify-content-end">
                                                                                <span v-for="team_member in team.team_members"
                                                                                    class="badge p-2 mx-2 text-bg-secondary d-flex align-items-center">{{team_member.first_name}}</span>
                                                                                <button v-if="session_details.judge" type="button" class="btn btn-primary mx-3"
                                                                                    v-on:click="change_view('Judge Team');select_team(team)">Judge Team</button>
                                                                                <button type="button" class="btn btn-primary mx-3" v-on:click="change_view('View Team');select_team(team)">View
                                                                                    Team</button>
                                                                                <button v-if="session_details.attendant" type="button" class="btn btn-primary mx-3"
                                                                                    v-on:click="change_view('Edit Team');select_team(team);create_spider_chart()">Edit
                                                                                    Team</button>
                                                                            </div>
                                                                        </div>
                                                                    </a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="accordion-item">
                                                <h2 class="accordion-header" id="headingFive">
                                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                                        data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                                                        Industry Devision
                                                    </button>
                                                </h2>
                                                <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive"
                                                    data-bs-parent="#accordionExample">
                                                    <div class="accordion-body">
                                                        <div class="list-group py-3">
                                                        <div class="list-group">
                                                            <div v-for="team in filter_catagory">
                                                                <div v-if="team.team_division == 'industry'">
                                                                    <a class="list-group-item list-group-item-action" aria-current="true">
                                                                        <div class="d-flex justify-content-between ">
                                                                            <h5 class="mb-1">{{team.team_name}}</h5>
                                                                            <div class="d-flex justify-content-end">
                                                                                <span v-for="team_member in team.team_members" class="badge p-2 mx-2 text-bg-secondary d-flex align-items-center">{{team_member.first_name}}</span>
                                                                            <button v-if="session_details.judge" type="button" class="btn btn-primary mx-3"
                                                                                v-on:click="change_view('Judge Team');select_team(team)">Judge Team</button>
                                                                            <button type="button" class="btn btn-primary mx-3" v-on:click="change_view('View Team');select_team(team)">View
                                                                                Team</button>
                                                                            <button v-if="session_details.attendant" type="button" class="btn btn-primary mx-3"
                                                                                v-on:click="change_view('Edit Team');select_team(team);create_spider_chart()">Edit
                                                                                Team</button>
                                                                            </div>
                                                                        </div>
                                                                    </a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>

                </div>

                <!-- Sponsors -->
                <div v-if="!['Login','Register'].includes(active_view)">
                    <div class="card">
                        <div class="card-body">
                            <h2 class="card-title">Thank our generous sponsors!</h2>
                            <div class="justify-content-evenly">
                                <img src="static/images/codecamp_sponsors/audience-300x300-1-200x200.png" class="img-thumbnail m-2 p-3 bg-white">
                                <img src="static/images/codecamp_sponsors/busybusy-300x300-1-200x200.png" class="img-thumbnail m-2 p-3 bg-white">
                                <img src="static/images/codecamp_sponsors/corso-300x300-1-200x200.png" class="img-thumbnail m-2 p-3 bg-white">
                                <img src="static/images/codecamp_sponsors/denton-300x300-1-200x200.png" class="img-thumbnail m-2 p-3 bg-white">
                                <img src="static/images/codecamp_sponsors/dixietech-300x300-1-200x200.png" class="img-thumbnail m-2 p-3 bg-white">
                                <img src="static/images/codecamp_sponsors/eaglegate-300x300-1-200x200.png" class="img-thumbnail m-2 p-3 bg-white">
                                <img src="static/images/codecamp_sponsors/infowest-200x200.png" class="img-thumbnail m-2 p-3 bg-white">
                                <img src="static/images/codecamp_sponsors/intergalactic-300x300-1-200x200.png" class="img-thumbnail m-2 p-3 bg-white">
                                <img src="static/images/codecamp_sponsors/mango-300x300-1-200x200.png" class="img-thumbnail m-2 p-3 bg-white">
                                <img src="static/images/codecamp_sponsors/reidashman-300x300-1-200x200.png" class="img-thumbnail m-2 p-3 bg-white">
                                <img src="static/images/codecamp_sponsors/scitools-1.png" class="img-thumbnail m-2 p-3 bg-white">
                                <img src="static/images/codecamp_sponsors/sga-300x300-1-200x200.png" class="img-thumbnail m-2 p-3 bg-white">
                                <img src="static/images/codecamp_sponsors/smartcare-300x300-1-200x200.png" class="img-thumbnail m-2 p-3 bg-white">
                                <img src="static/images/codecamp_sponsors/stg-chamber-300x300-1-200x200.jpg" class="img-thumbnail m-2 p-3 bg-white">
                                <img src="static/images/codecamp_sponsors/tcn.png" class="img-thumbnail m-2 p-3 bg-white">
                                <img src="static/images/codecamp_sponsors/techridge-300x300-1-200x200.png" class="img-thumbnail m-2 p-3 bg-white">
                                <img src="static/images/codecamp_sponsors/usu_roi_logo-200x200.png" class="img-thumbnail m-2 p-3 bg-white">
                                <img src="static/images/codecamp_sponsors/Utah4H-200x200.png" class="img-thumbnail m-2 p-3 bg-white">
                                <img src="static/images/codecamp_sponsors/utahtech-300x300-1-200x200.png" class="img-thumbnail m-2 p-3 bg-white">
                                <img src="static/images/codecamp_sponsors/vasion_logo-200x200.png" class="img-thumbnail m-2 p-3 bg-white">
                                <img src="static/images/codecamp_sponsors/washco.png" class="img-thumbnail m-2 p-3 bg-white">
                                <img src="static/images/codecamp_sponsors/zonos-300x300-1-200x200.png" class="img-thumbnail m-2 p-3 bg-white">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Login Form -->

        <div class="container g-5 p-5" v-if="['Login'].includes(active_view)">
            <h1 class="text-center p-2">Login</h1>
            <div v-for="error in validation_errors">
                <div class="card border-danger m-3">
                    <div class="card-body">
                        <p class="card-title text-danger">{{error.message}}</p>
                    </div>
                </div>
            </div>
            <form>
                <div class="form-floating m-3">
                    <input type="text" class="form-control text-dark" id="floatingInput" placeholder="name@example.com" v-model="email">
                    <label for="floatingInput">Email address</label>
                </div>
                <div class="form-floating m-3">
                    <input type="password" class="form-control text-dark" id="floatingPassword" placeholder="Password" v-model="password">
                    <label for="floatingPassword">Password</label>
                </div>
                <div class="form-floating m-3">
                    <button type="button" class="btn btn-primary m-3" v-on:click="change_view('Register')">Register</button>
                    <button type="button" class="btn btn-primary m-3" v-on:click="login()">Login</button>
                </div>
            </form>
        </div>

        <!-- Register Form -->
        
        <div class="container g-5 p-5" v-if="['Register'].includes(active_view)">
            <h1 class="text-center p-2">Register New Account</h1>
            <div v-for="error in validation_errors">
                <div class="card border-danger m-3">
                    <div class="card-body">
                        <p class="card-title text-danger">{{error.message}}</p>
                    </div>
                </div>
            </div>
            <div v-for="message in success_messages">
                <div class="card border-success m-3">
                    <div class="card-body">
                        <p class="card-title text-success">{{message.message}}</p>
                    </div>
                </div>
            </div>
            <form>
                <div class="form-floating m-3">
                    <input type="text" class="form-control text-dark" id="floatingInput1" placeholder="first name" v-model="register_first_name">
                    <label for="floatingInput1">First Name</label>
                </div>
                <div class="form-floating m-3">
                    <input type="text" class="form-control text-dark" id="floatingInput2" placeholder="last name" v-model="register_last_name">
                    <label for="floatingInput2">Last Name</label>
                </div>
                <div class="form-floating m-3">
                    <input type="text" class="form-control text-dark" id="floatingInput3" placeholder="name@example.com"
                        v-model="register_email">
                    <label for="floatingInput3">Email address</label>
                </div>
                <div class="form-floating m-3">
                    <input type="password" class="form-control text-dark" id="floatingPassword1" placeholder="Password"
                        v-model="register_password">
                    <label for="floatingPassword1">Password</label>
                </div>
                <div class="form-floating m-3">
                    <input type="password" class="form-control text-dark" id="floatingPassword2" placeholder="Password"
                        v-model="register_password_confirmation">
                    <label for="floatingPassword2">Password</label>
                </div>
                <div class="form-floating m-3">
                    <button type="button" class="btn btn-primary m-3" v-on:click="change_view('Login')">Back to Login</button>
                    <button type="button" class="btn btn-primary m-3" v-on:click="register()">Register</button>
                </div>
            </form>
        </div>
    </div>
</body>


<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>




<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
    integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js"
    integrity="sha384-mQ93GR66B00ZXjt0YO5KlohRA5SY2XofN4zfuZxLkoj1gXtW8ANNCe9d5Y3eG5eD"
    crossorigin="anonymous"></script>
<script src="https://unpkg.com/vue@3"></script>
<script src="client.js"></script>
<style>
    #app {
        font-family: 'Avenir', Helvetica, Arial, sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        text-align: center;
        color: #2c3e50;
        margin-top: 60px;
    }

    @import'~bootstrap/css/bootstrap.css'
</style>
</html>